@import url('https://fonts.googleapis.com/css?family=Muli');
@import url('https://fonts.googleapis.com/css?family=Merriweather');

* {
  box-sizing: border-box;

}
a {
  text-decoration: none;
  color: black;
}

h1, h2, h3, h4, h5 {
  font-family: 'Merriweather', serif;
}

p{
  font-family: 'Muli', sans-serif;
  font-size: 1.5rem;
  line-height: 150%;
  letter-spacing: 0.3px;
}

.wrapper{
  position: relative;
}

.menu {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 80px;
  background: white;
  z-index: 2;
  box-shadow: 3px 3px 18px black;
  ul {
    height: 100%;
  }
  ul > li {
    display: inline-block;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 1.2rem;
    line-height: 80px;
    height: 100%;
    font-family: 'Merriweather', serif;
  }
}

.content {
  width: 100%;
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
}

.hero-image {
  position: relative;
  width: 100%;
  width: 100vw;
  min-height: 600px;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('https://img.freepik.com/free-vector/stock-market-analysis-illustration_23-2148588123.jpg?t=st=1657253778~exp=1657254378~hmac=5c05e737da54a2b34caa42af59d3fbeb7c922e448a4eb052f7898e65e29e2529&w=996');
}

.hero-image .hero-image-info{
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
  h1 {
    color: white;
    font-size: 5rem;
    width: 100%;
  }
  
  h2 {
    color: white;
    font-size: 3rem;
    width: 100%;
  }
}

.block {
  position: relative;
  width: 100%;
  width: 100vw;
  min-height: 600px;
  height: 150vh;
  padding: 60px;
  max-width: 100vw;
  z-index: 0;

  h3 {
    color: black;
    font-size: 3rem;
    width: 100%;
    padding: 30px;
    z-index: 0;
  }
  
  p, img {
    padding: 30px;
    padding-top: 0px;
    display: inline-block;
    width: 49%;
    // float: left;
    z-index: 0;
  }
  
  hr {
    display: block;
    width: 100%;
    z-index: 3;
    float: none;

    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
    
  }
}